@font-face {
  font-family: 'HelveNueThin';
  src: url('../fonts/HelveticaNeueLTPro-Th.otf');
}
@font-face {
  font-family: 'Alright Sans Regular';
  src: url('../fonts/Alright Sans/AlrightSans-Regular-v3.otf');
}
@font-face {
  font-family: 'Alright Sans Light';
  src: url('../fonts/Alright Sans/AlrightSans-Light-v3.otf');
}
@font-face {
  font-family: 'Alright Sans Medium';
  src: url('../fonts/Alright Sans/AlrightSans-Medium-v3.otf');
}
@font-face {
  font-family: 'Alright Sans Bold';
  src: url('../fonts/Alright Sans/AlrightSans-Bold-v3.otf');
}
@font-face {
  font-family: 'Alright Sans Black';
  src: url('../fonts/Alright Sans/AlrightSans-Black-v3.otf');
}
@font-face {
  font-family: 'Alright Sans Light';
  src: url('../fonts/Alright Sans/AlrightSans-Light-v3.otf');
}
@font-face {
  font-family: 'Helvetica Medium';
  src: url('../fonts/helvetica-65-medium.ttf');
}
@font-face {
  font-family: 'Helvetica Black';
  src: url('../fonts/helvetica-95-black.ttf');
}
@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url('../fonts/helvetica-neue-lt-std-63-medium-extended.otf');
}
/* Reset */

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
/* Menu */
.menu {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  transition: all .3s ease;
}
.menu-nav {
  float: left;
}
.menu-nav li {
  display: inline-block;
  margin: 0;
}
.menu-nav .contato {
  margin-left: 30px;
  margin-right: 20px;
}
.menu-nav .nav {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 2.5137em;
  font-family: 'HelveNueThin', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  transition: all .3s ease;
  margin-right: 10px;
}
.menu-nav .nav:hover {

  border-radius: 50px;
  background: #113f58;
}
.menu-nav .nav-logo .logo-menu {
  width: 43.333px;
  height: 56px;
}

.redes li {
  display: inline-block;
}
.fa-whatsapp {
  text-decoration: none;
  color: #fff;
	margin-right: 5px;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	text-rendering: auto;
}
.redes .icon {
  text-decoration: none;
  color: #113f58;
  border-radius: 50%;
	margin-right: 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	text-rendering: auto;
    transition: all .3s ease;
}
.redes .icon:hover {
  color: #fff;
  background: #113f58;
}
.redes i {
  margin-top: 6px;
}
.telefone {
  color: #fff;
  font-family: 'Helvetica Medium', sans-serif;
  font-size: 1.43em;
  letter-spacing: 0.06em;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: -10px;
}
.fa {
  margin-top: 4px;
}
/*Mobile-Menu*/
@media only screen and (max-width: 768px) {

.mobile-btn {
	display: block;
	color: white;
	width: 36px;
	height: 36px;
	border-top: 4px solid;
	margin: 20px 0 0 20px;
	float: left;
	position: relative;
    left: 0;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

.mobile-btn::after, .mobile-btn::before {
	content: '';
	display: block;
	height: 4px;
	margin-top: 6px;
	background: currentColor;
	position: relative;
	transition: transform .2s ease;
}

.mobile-btn.active {
	border-top-color: transparent;
}

.mobile-btn.active::after {
	margin-top: 0px;
	top: 2px;
	transform: rotate(45deg);
}

.mobile-btn.active::before {
	margin-top: 0px;
	top: 6px;
	transform: rotate(135deg);
}

.menu-nav.mobile-menu {
	position: fixed;
	background: #161616;
	padding: 10px;
	top: 80px;
	left: 10px;
    max-width: 280px;
	opacity: 0;
	visibility: hidden;
	transform: translate3d(60px, 0px, 0px);
	transition: .3s;
}

.menu-nav.mobile-menu.active {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0px, 0px, 0px);
}

.menu-nav.mobile-menu li {
	display: block;
}
  .menu-nav.mobile-menu .contato, .menu-nav.mobile-menu .redes {
    margin: 10px auto;
    text-align: center;
  }

.menu-nav.mobile-menu li a {
	border-bottom: 2px solid;
	text-align: center;
}
  .menu-nav .nav-logo .logo-menu {
    text-align: center;
    margin: 0 auto;
  }
  
	
}

/* Intro Interna*/

.intro-interna {
  padding: 150px 0;
}
.intro-interna .icone-intro-interna {
  float: left;
  margin-left: 160px;
}
.intro-interna h1 {
  display: block;
  float: left;
  max-width: 100px;
  font-family: 'Helvetica Black';
  font-size: 3.045em;
  line-height: 1em;
  letter-spacing: 0.02em;
  margin-left: 40px;
  color: #fff;
  
}
.intro-interna p {
  margin-left: 55px;
  font-family: 'Helvetica Medium';
  font-size: 1.6406em;
  line-height: 1em;
  color: #fff;
  max-width: 570px;
  text-align: center;
}
.inicio-intro::before {
  content: '';
  display: table;
  clear: both;
}
.inicio-intro::after {
  content: '';
  display: table;
  clear: both;
  width: 431px;
  height: 2px;
  background: #fff;
  margin: 105px 0 25px 133px;
}
.intro-business {
  background: url(../img/internas/business-bg.jpg) no-repeat center center;
  background-size: cover;
}
.intro-consultoria {
  background: url(../img/internas/consultoria-bg.jpg) no-repeat center center;
  background-size: cover;
}
.intro-consultoria .consultoria {
  max-width: 300px;
  margin-left: 25px;
}
.intro-desenvolvimento {
  background: url(../img/internas/desenvolvimento-bg.jpg) no-repeat center center;
  background-size: cover;
}
.intro-desenvolvimento .icone-intro-interna {
  margin-left: 60px;
} 
.intro-desenvolvimento .desenvolvimento {
  max-width: 455px;
  margin-left: 25px;
  text-align: center;
}
.intro-ferramentas {
  background: url(../img/internas/ferramentas-bg.jpg) no-repeat center center;
  background-size: cover;
}
.intro-ferramentas .ferramentas {
  max-width: 300px;
  text-align: center;
}
.intro-ferramentas .icone-intro-interna {
  margin-left: 130px;
}





@media only screen and (max-width: 767px) {
  
  .intro-interna .icone-intro-interna {
    margin: 0 auto;
    float: none;
  }
  .intro-interna h1 {
    margin-bottom: 10px;
  }
  .intro-consultoria .consultoria {
    max-width: 300px;
    text-align: center;
    margin: 10px auto;
  }
  .intro-desenvolvimento .desenvolvimento {
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
    font-size: 2.1em;
  }
  .intro-ferramentas .ferramentas {
    max-width: 300px;
    text-align: center;
    margin: 10px auto;
    font-size: 2.5em;
  }
  .inicio-intro::after {
    margin: 20px auto;
    max-width: 300px;
  }
  .intro-interna p {
    max-width: 300px;
    margin: 20px auto;
  }
}

/* Empresa */
.empresa {
  padding: 80px 0;
  position: relative;
}
.empresa h1 {
  text-align: center;
  display: block;
  position: absolute;
  left: 35%;
  top: -56px;
  background-color: #fff;
  z-index: 99;
  width: 400px;
  font-family: 'Helvetica Medium', sans-serif;
  font-size: 0.9275em;
  letter-spacing: 0.06em;
  color: #333;
  padding-top: 30px;
  padding-bottom: 10px;
}
.empresa h1::before {
  content: '';
  position: absolute;
  bottom: -38px;
  left: -35px;
  width: 35px;
  height: 38px;
  background: url("../img/shadow.png");
}
.empresa h1::after {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  content: '';
  position: absolute;
  bottom: -38px;
  right: -35px;
  width: 35px;
  height: 38px;
  background: url("../img/shadow.png");
}
.empresa .item {
  text-align: center;
  margin-bottom: 40px;
}

.empresa .item h2 {
  margin-top: 45px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.5081em;
  line-height: 0.8281em;
  letter-spacing: 0.06em;
  color: #113f58;
  font-family: 'Helvetica Black';
}
.empresa .item p {
  font-size: 1.5081em;
  line-height: 1.5em;
  color: #666666;
  font-family: 'Helvetica Medium';
  text-align: center;
  margin-bottom: 50px;
  max-width: 547px;
}
.empresa .item .botao {
  font-family: 'HelveticaNeue Medium';
  font-size: 1.25em;
  line-height: 2em;
  letter-spacing: 0.02em;
  color: #113f58;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  border: 1.5px solid #113f58;
  padding: 25px 40px;
  border-radius: 10px;
  transition: all .3s ease;
}
.empresa .item .botao:hover {
  color: #fff;
  background: #113f58;
}
.empresa .item img {
  border-radius: 10px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  /*.empresa h1 {
    left: 20%;
    max-width: 300px;
  }*/
  .empresa h1 {
    font-size: 0.8em;
    width: 19em;
    height: 2.5em;
    top: -31px;
    line-height: 2.5em;
    margin-bottom: -2.5em;
    margin-left: -5em;
    padding-top: 0.5em;
  }

  .empresa h1:before, .empresa h1:after {
    height: 15px;
    bottom: -15px;
    background-size: 100% 100%;
  }
  .empresa .br {
    display: block;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 350px) {
  .empresa h1 {
    left: 30%;
  }
}
/* Pessoas */
.pessoas {
  padding: 80px 0;
  position: relative;
  background: url("../img/metallic.png");
}
.pessoas h1 {
  text-align: center;
  display: block;
  position: absolute;
  left: 35%;
  top: -56px;
  background-color: #fff;
  z-index: 99;
  width: 400px;
  font-family: 'Helvetica Medium', sans-serif;
  font-size: 0.9275em;
  letter-spacing: 0.06em;
  color: #333;
  padding-top: 30px;
  padding-bottom: 10px;
  background: url("../img/metallic.png");
}
.pessoas h1::before {
  content: '';
  position: absolute;
  bottom: -38px;
  left: -35px;
  width: 35px;
  height: 38px;
  background: url("../img/shadow.png");
}
.pessoas h1::after {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  content: '';
  position: absolute;
  bottom: -38px;
  right: -35px;
  width: 35px;
  height: 38px;
  background: url("../img/shadow.png");
}
.pessoas .item {
  text-align: center;
  margin-bottom: 40px;
}

.pessoas .item h2 {
  margin-top: 45px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.5081em;
  line-height: 0.8281em;
  letter-spacing: 0.06em;
  color: #113f58;
  font-family: 'Helvetica Black';
}
.pessoas .item p {
  font-size: 1.5081em;
  line-height: 1.5em;
  color: #666666;
  font-family: 'Helvetica Medium';
  text-align: center;
  margin-bottom: 50px;
  max-width: 547px;
}
.pessoas .item .botao {
  font-family: 'HelveticaNeue Medium';
  font-size: 1.25em;
  line-height: 2em;
  letter-spacing: 0.02em;
  color: #113f58;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  border: 1.5px solid #113f58;
  padding: 25px 40px;
  border-radius: 10px;
  transition: all .3s ease;
}
.pessoas .item .botao:hover {
  color: #fff;
  background: #113f58;
}
.pessoas .item img {
  border-radius: 10px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .pessoas h1 {
    font-size: 0.9em;
    width: 18em;
    height: 2.5em;
    top: -35px;
    line-height: 2.5em;
    margin-bottom: -2.5em;
    margin-left: -5em;
    padding-top: 0.5em;
  }

  .pessoas h1:before, .pessoas h1:after {
    height: 15px;
    bottom: -15px;
    background-size: 100% 100%;
  }
  /*.pessoas h1 {
    left: 20%;
    max-width: 300px;
  }*/
  .pessoas .br {
    display: block;
    margin-bottom: 50px;
  }
 
}

@media only screen and (max-width: 350px) {
  .pessoas h1 {
    left: 30%;
  }
}


/*Isca*/

.isca {
  padding: 65px 0;
  background: #707070;
  border-bottom: 15px solid #113f58;
}
.isca h2 {
  font-family: 'Helvetica Medium', sans-serif;
  font-size: 1.52em;
  line-height: 1.5em;
  color: #fbfbfb;
  max-width: 482px;
}

.isca form label {
  display: none;
}
.isca form input {
  width: 442px;
  background: #ffffff;
  font-family: 'HelveticaNeue Medium', sans-serif;
  font-size: 1.2512em;
  line-height: 1.998em;
  letter-spacing: 0.02em;
  color: #707070;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.isca button {
  background: none;
  width: 200px;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  position: relative;
  font-family: 'HelveticaNeue Medium', sans-serif;
  font-size: 1.25em;
  line-height: 2em;
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .isca form input {
    max-width: 300px;
    margin-bottom: 30px;
  }
  .isca form {
    text-align: center;
  }
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 80px;
  background: #161616;
  font-family: 'Helvetica Medium', sans-serif;
}
.footer .botao {
  font-size: 0.75em;
  max-width: 200px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 10px 30px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease;
}
.footer .botao:hover {
  background: #fff;
  color: #161616;
}
.footer .numero {
  font-size: 1.1456em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.02em;
}
.footer p {
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.02em;
}
.footer .primeira-coluna .redes {
  margin-top: 30px;
}
.footer .primeira-coluna .redes i {
  margin-top: 6px;
}
.footer .primeira-coluna .redes a{
  text-decoration: none;
  color: #113f58;
  border-radius: 50%;
	margin-right: 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	text-rendering: auto;
    transition: all .3s ease;
}
.footer .primeira-coluna .redes a:hover {
  color: #fff;
  background: #113f58;
}

.footer .segunda-coluna h2 {
  font-family: 'Helvetica Medium', sans-serif;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
  
}
.footer .segunda-coluna ul {
  margin-bottom: 25px;
  list-style-type: none;
}
.footer .segunda-coluna ul li {
  padding-bottom: 5px;
}
.footer .segunda-coluna ul li::before {
  content: '';
  background: #113f58;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -3px;
  margin-right: 10px;
}
.footer .segunda-coluna a {
  font-family: 'Helvetica Medium', sans-serif;
  color: #fff;
  font-size: 0.7512em;
  line-height: 1.1668em;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.footer .segunda-coluna a:hover {
  color: #113f58;
}
.footer .terceira-coluna {
  text-align: center;
  margin: 0 auto;
}
.footer .terceira-coluna .logo-breno {
  margin-top: 60px;
}
.footer .terceira-coluna .logo-breno p {
  float: left;
  padding-top: 20px;
  margin-right: 15px;
 
}
.footer .terceira-coluna .logo-breno img {
  float: left;
  
}

/*Animações*/

.intro-interna .icone-intro-interna, .intro-interna h1, .intro-interna p {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
